<h4>Flex reverse Example</h4>
<div fxLayout="row-reverse" fxLayout.xs="column" fxLayoutGap="20px"
fxLayoutAlign="space-between center" 
fxLayoutAlign.xs="space-around stretch" 
>
    <div fxFlex="30" class="block one" fxLayoutAlign="center center"
    fxLayoutAlign.xs="start center"> I am block 1 </div>
    <div fxFlex="30"class="block two" fxLayoutAlign="center center"
    fxLayoutAlign.xs="start center" > I am block 2 </div>
    <div fxFlex="30" class="block three" fxLayoutAlign="center center"
    fxLayoutAlign.xs="start center">I am block 3</div>
</div>