<div fxFlex="100" fxLayout="row wrap">
  <h4 fxFlex="100">Responsive cards example</h4>
  <div fxLayout="row wrap" fxLayout.xs="column-reverse" fxLayoutGap.xs="20px" fxLayoutAlign="space-between center">
    <mat-card class="example-card" fxFlex="30" fxFlex.sm="45" *ngFor="let card of cards | async; let i = index">
      <mat-card-header>
        <mat-card-title fxHide.xs="true">{{ card.title }} {{i+1 }}</mat-card-title>
        <mat-card-title fxHide.xs="false" fxHide.sm="true" fxHide.md="true" fxHide.lg="true" fxHide.xl="true" >
          {{ card.mobileDescription}}</mat-card-title>
        <mat-card-subtitle> {{ card.subTitle }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="card.url" alt="Angular">
      <mat-card-content>
        <p>
          {{card.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>